![imagen](./img/hr.png)

In [ ]:
# https://www.sqltutorial.org/
# Ejemply pymsql + aws + pandas
import pymysql
import pandas as pd
ENDPOINT="hrdb.cn2cwau8envf.eu-north-1.rds.amazonaws.com"
PORT=3306
USER="admin"
REGION="eu-north-1b"
DBNAME="hrdb"
conn =  pymysql.connect(host=ENDPOINT, user=USER, passwd="BootcampDSPT24$", port=PORT)
# Obtenemo usn cursor que utilizaremos para hacer las queries
crsr = conn.cursor()

In [ ]:
# Con esta función leemos los datos y lo pasamos a un DataFrame de Pandas
def sql_query(query):

    # Ejecuta la query
    crsr.execute(query)

    # Almacena los datos de la query 
    ans = crsr.fetchall()

    # Obtenemos los nombres de las columnas de la tabla
    names = [description[0] for description in crsr.description]

    return pd.DataFrame(ans,columns=names)

Crear Base de datos HHRR_XX, donde XX es tu nombre o apellido

Crear tablas definidas en data/crear_tablas.txt

Insertar datos en tablas según data/datos_hr.txt

Vamos a nuestar nuesta BBDD HHRR_XX:

In [ ]:
crsr.execute("USE HHRR_XX;")

Selecciona todas las columnas y filas de la tabla employees

Selecciona las columnas:
first_name, 
last_name, 
salary
e incrementa un 5% el salario de employees

Selecciona las columnas:
first_name, 
last_name, 
salary
e incrementa un 5% el salario de todos los employees.
Llama a dicha columna new_salary

SELECT
	employee_id,
	first_name,
	last_name,
	hire_date,
	salary
FROM
	employees;
Ejecuta de nuevo esta query por orden alfabético del nombre de empleado

ORDER BY para ordenar employees  por el nombre en orden ascendente y el apellido en orden descendente:

El siguiente ejemplo utiliza la cláusula ORDER BY para ordenar employees por salario de mayor a menor

Utiliza ORDER BY para ordenar las filas por fecha de contratación

Selecciona los datos de salarios sin mostrar duplicados de la columna de sueldos y ordenarlas de alto a bajo

Selecciona los datos de job_id y salarios sin mostrar duplicados

Obtener el nombre, apellidos y employee_id. Mostrar solo los 5 primeros resultados

Obtener el nombre, apellidos y employee_id. Mostrar solo los 6-11 primeros resultados (keyword OFFSET)

Obtener el nombre, apellidos, employee_id y salario de los 7 employees con mejor sueldo

Obtener el nombre, apellidos, employee_id y salario del employee con mejor sueldo en el puesto 10

Obtener el nombre, apellidos, employee_id y salario de quienes que cobran máde 14000 y ordenalos de forma decreciente por salario

Obtener  employees que se apellidan Chen

Obtener employees cuya contratación sucedió después del 1 de enero de 1999

Obtener employees que cuya contratación sucedió en el año 1999 (función YEAR)

Obtener employees cuyo número de teléfono es NULL (comparar resultados usando = NULL y IS NULL)

Obtener employees que no pertenecen ni al departamento 8 ni al 10

Obtener employees que pertenecen al departamento 8 y su salario es superior a 10.000

Obtener employees que cuyo salario está entre 8000 y 14000

Obtener employees que  pertenecen al departamento 8, 9, 10 usando IN

Obtener employees cuyo nombre comienza por "Jo"

Obtener employees cuyo nombre tiene por segunda letra por "h" (usando _)

Obtener employees que NO pertenecen al departamento 8, 9, 10 usando IN

#### SUBQUERIES

Las queries de SQL pueden combinarse de tal forma que hacen a este lenguaje mucho más flexible, pero también más dificil de leer y entender

SELECT 
    employee_id, first_name, last_name, salary
FROM
    employees
WHERE
    department_id IN (SELECT 
            department_id
        FROM
            departments
        WHERE
            department_name = 'Marketing'
                OR department_name = 'Sales')

Utiliza un inner join para extraer el nombre del departamento de cada empleado

Utiliza un inner join para extraer el nombre del departamento de cada empleado filtrando por departamentos 1, 2 y 3

Utiliza un left join para extraer la localización en cada país

Utiliza dos left join para extraer la localización, país y código de región

Cuenta el número de employees por cada departamento id

Cuenta el número de employees por cada departamento (incluyendo el nombre en texto del departamento, no solo el código)

Cuenta el número de employees por cada departamento (incluyendo el nombre en texto del departamento, no solo el código) de mayor número de employees a menor

Cuenta el número de employees por cada departamento (incluyendo el nombre en texto del departamento, no solo el código) con más de 4 empleoyees (probar WHERE y HAVING)

Cálcula los costes de salario por cada departamento con su nombre de departamento

Cuenta el número de employees por cada departamento y puesto de trabajo (incluyendo el nombre en texto del departamento y puesto, no solo el código)