![imagen](./img/hr.png)

In [ ]:
# https://www.sqltutorial.org/
# Ejemply pymsql + aws + pandas
import pymysql
import pandas as pd
ENDPOINT="hrdb.cn2cwau8envf.eu-north-1.rds.amazonaws.com"
PORT=3306
USER="admin"
REGION="eu-north-1b"
DBNAME="hrdb"
conn =  pymysql.connect(host=ENDPOINT, user=USER, passwd="BootcampDSPT24$", port=PORT)
# Obtenemos un cursor que utilizaremos para hacer las queries
crsr = conn.cursor()

In [ ]:
# Con esta función leemos los datos y lo pasamos a un DataFrame de Pandas
def sql_query(query):

    # Ejecuta la query
    crsr.execute(query)

    # Almacena los datos de la query 
    ans = crsr.fetchall()

    # Obtenemos los nombres de las columnas de la tabla
    names = [description[0] for description in crsr.description]

    return pd.DataFrame(ans,columns=names)

In [ ]:
# Determinar que schema (colección de tablas) queremos usar
crsr.execute("USE HHRR_Jony;")

Selecciona la personas con salario enre 10.000 y 20.000

Usa CASE-WHEN-THEN-END para crear la columna "nivel_salario" que sea bajo para menos de 3000, medio si es entre 3000 y 5000 y alto para más de 5000

Usa CASE-WHEN-THEN-ELSE-END para crear la columna "nivel_salario" que sea bajo para menos de 3000, medio si es entre 3000 y 5000 y alto en otro caso

Cuenta el número de employees por cada departamento (incluyendo el nombre en texto del departamento, no solo el código) de mayor número de employees a menor

Selecciona la persona con mayor salario en el departamento 2

Cálcula los costes de salario por cada departamento con su nombre de departamento

Cuenta el número de employees por cada departamento y puesto de trabajo (incluyendo el nombre en texto del departamento y puesto, no solo el código)

Calcula el salario máximo, mínimo y medio por cada departamento

Cuenta el número de employees por cada departamento (incluyendo el nombre en texto del departamento, no solo el código) con más de 4 empleoyees (probar WHERE y HAVING)

Cuenta el número de employees por cada departamento y job (incluyendo el nombre en texto del departamento y job, no solo el código)

Actualiza el apellido de employee_id 192 a "López"

Incrementa el salario en un 2% de todo el departamento 2

Crea la tabla 

CREATE TABLE courses (
    course_id INT AUTO_INCREMENT PRIMARY KEY,
    course_name VARCHAR(20) NOT NULL
);

In [ ]:
query ='''CREATE TABLE courses (
    course_id INT AUTO_INCREMENT PRIMARY KEY,
    course_name VARCHAR(20) NOT NULL
);'''
crsr.execute(query)

Añade a la tabla courses:

INSERT INTO courses(course_name) VALUES ('Python');
INSERT INTO courses(course_name) VALUES ('SQL');
INSERT INTO courses(course_name) VALUES ('Introducción a la Fenomenología del Espíritu de Hegel para no hegelianos');

Selecciona la tabla courses tras los INSERT

Prueba: INSERT INTO courses(course_name) VALUES (3, 'Hegel');

Leer Pearson.txt y usa .to_sql() para guardar la tabla
Usa select para ver el contenido

Puedes hacer tus queries dinámicas!

In [ ]:
city = input("Introduzca ciudad")
query = f'''
SELECT * 
FROM locations
WHERE city = "{city}" ''' 

sql_query(query)

In [ ]:
dept = input("Introduzca un departamento")
query = f'''
SELECT * 
FROM employees
WHERE department_id = {dept} ''' 

sql_query(query)

In [ ]:
## Indroduce to nombre y password inventado
crsr.execute("INSERT INTO HHRR_Jony.users(user_name, user_pass) VALUES ('XXX', 'YYY');")

In [ ]:
dept = input("Introduzca un departamento")
query = f'''
SELECT department_id, department_name 
FROM HHRR_Jony.departments
WHERE department_id = {dept} ''' 

sql_query(query)