# Ejercicios

Completa los siguientes ejercicios utilizando lo que hemos aprendido hasta y los datos del directorio ejercicios/:

1. Queremos ver los datos de las acciones de Facebook, Apple, Amazon, Netflix y Google (FAANG), pero nos dieron cada uno como un archivo CSV separado. Combínelos en un único archivo y guarde el dataframe de los datos FAANG como faang para el resto de los ejercicios:

In [1]:
# a) Crea la carpeta faang. Mueve los archivos aapl.csv, amzn.csv, fb.csv, goog.csv y nflx.csv a dicha carpeta
# Lee los archivos usando un bucle
import os
import shutil
os.makedirs("faang", exist_ok=True)

In [2]:
for f in ["aapl.csv", "amzn.csv", "fb.csv", "goog.csv", "nflx.csv"]:
    shutil.move(f, f"faang/{f}")

FileNotFoundError: [WinError 2] El sistema no puede encontrar el archivo especificado

In [ ]:
# Esta también funciona
#for f in ["aapl.csv", "amzn.csv", "fb.csv", "goog.csv", "nflx.csv"]:
#    shutil.move(f, "faang")

In [7]:
"fb.csv".split(".")[0]

'fb'

In [3]:
lista = []
import pandas as pd
for file in os.listdir("faang"):
    tmp = pd.read_csv(f"faang/{file}")
    tmp["ticker"] = file.split(".")[0]
    lista.append(tmp)

In [4]:
faang = pd.concat(lista)

In [18]:
faang.to_csv("faang.csv")

In [ ]:
#b) Añade una columna a cada dataframe, llamalo ticker, indicando el símbolo del ticker al que corresponde (el de Apple es AAPL, por ejemplo);

In [ ]:
#c) Agréguelos en un dataframe.

In [ ]:
#d) Guarda el resultado en un archivo CSV llamado faang.csv.

In [20]:
faang["open"].max()

2038.1099853515625

In [21]:
faang[faang["open"]==faang["open"].max()]

,date,high,low,open,close,volume,ticker
170,2018-09-05,2040.380005,1989.890015,2038.109985,1994.819946,8220600.0,amzn

In [22]:
faang.groupby(["ticker"])["open"].max()

ticker
aapl      57.695000
amzn    2038.109985
fb       215.720001
goog    1271.000000
nflx     421.380005
Name: open, dtype: float64

In [26]:
faang["mayor_100"] = faang["open"].apply(lambda x: x>=100)

In [39]:
def mayor_100(x):
    return x>=100
faang["mayor_100_bis"] = faang["open"].apply(mayor_100)

In [42]:
def filtrado(x):
    if x<=50:
        return "Entre 0 y 50"
    elif 50<x<=100:
        return "Entre 51 y 100"
    elif 100<x<=1000:
        return "Entre 101 y 1000"
    else:
        return "Más de 1000"
faang["filtro_Valor"] = faang["open"].apply(filtrado)

In [44]:
faang["dist_media"] = faang.groupby("ticker")["open"].transform(lambda x: x - x.mean())

In [65]:
medias = faang.groupby(["ticker"], as_index=False)["open"].mean()

In [66]:
medias.rename(columns={"open":"media"}, inplace=True)

In [5]:
faang["mim_max"] = faang.groupby("ticker")["open"].transform(lambda x: (x - x.min())/(x.max()-x.min()))

In [8]:
faang.groupby("ticker")["mim_max"].describe()

        count      mean       std  min       25%       50%       75%  max
ticker
aapl    251.0  0.495721  0.248186  0.0  0.305882  0.461576  0.720441  1.0
amzn    251.0  0.545049  0.230118  0.0  0.381337  0.520719  0.724463  1.0
fb      251.0  0.522273  0.212659  0.0  0.374811  0.559166  0.667404  1.0
goog    251.0  0.470058  0.226248  0.0  0.284147  0.439885  0.652188  1.0
nflx    251.0  0.548298  0.219253  0.0  0.389449  0.561035  0.717840  1.0

In [63]:
medias.columns =["ticker", "media"]

In [64]:
medias

  ticker        media
0   aapl    47.277859
1   amzn  1644.072709
2     fb   171.472948
3   goog  1113.554101
4   nflx   319.620558

In [58]:
faang.groupby(["ticker"])[["open"]].mean()

               open
ticker
aapl      47.277859
amzn    1644.072709
fb       171.472948
goog    1113.554101
nflx     319.620558

In [68]:
faang2 = pd.merge(faang, medias, on=["ticker"], how="outer", indicator=True)

In [70]:
faang2["dist_media_2"] = faang2["open"] - faang2["media"]

In [71]:
sum(faang2["dist_media_2"] != faang2["dist_media"])

0

Calcula la normalización min-max para cada ticker de los faang

Calcula una columna que sega "Sube" si el valor de close era superior al de open y "Baja" en caso contrario

2. Con faang, utilice la conversión de tipos para convertir los valores de la columna de fecha en datetime y la columna de volumen en números enteros. A continuación, ordena por fecha y ticker.

0      Sube
1      Baja
2      Sube
3      Sube
4      Sube
       ...
246    Baja
247    Sube
248    Sube
249    Baja
250    Sube
Length: 1255, dtype: object

El csv tipo_cambio contiene los tipos de cambio entre USD y EUR para el 2018 (datos inventados). 
Añade la fecha para cada día del año

Convierte la columna low de faang a euro usando merge

Convierte la columna low de faang a euro usando apply

3. Encuentre las siete filas en faang con el valor más bajo para el volumen.

4. El Centro Europeo para la Prevención y el Control de las Enfermedades (ECDC) proporciona un conjunto de datos abierto sobre casos de COVID-19 denominado número diario de nuevos casos notificados de COVID-19 por país en todo el mundo (https://www.ecdc.europa.eu/en/publications-data/download-todays-data-geographicdistribution-covid-19-cases-worldwide). Este conjunto de datos se actualiza diariamente, pero utilizaremos una instantánea que contiene datos desde el 1 de enero de 2020 hasta el 18 de septiembre de 2020. Limpia y pivota los datos para que estén en formato ancho:

In [ ]:
#- a) Lea el archivo covid19_casos.csv.

In [ ]:
#- b) Cree una columna de fecha utilizando los datos de la columna dateRep y la función pd.to_datetime().

In [ ]:
#- c) Establece la columna de fecha como índice y ordena el índice.

In [ ]:
#- d) Sustituye todas las apariciones de United_States_of_America y United_Kingdom por USA y UK, respectivamente. Sugerencia: el método replace() puede ejecutarse en todo el dataframe.

In [ ]:
#- e) Utilizando la columna countriesAndTerritories, filtre los datos de casos COVID-19 depurados hasta Argentina, Brasil, China, Colombia, India, Italia, México, Perú, Rusia, España, Turquía, Reino Unido y Estados Unidos.

In [ ]:
#- f) Pivota los datos de modo que el índice contenga las fechas, las columnas contengan los nombres de los países y los valores sean los recuentos de casos (la columna de casos). 
# Asegúrate de rellenar los valores NaN con 0.

5. Intenta obtener el csv covid19_total_cases.csv a partir de covid19_cases.csv

# Basado en hechos reales (Iván Vallés) aunque los datos eran diferentes
# En este archivo se encuentran las medidas en kg para generar en una planta cierto producto químico 
# http://www.adjoint-functors.net/su/web/314/R/NB10

In [2]:
# analiza si es tiene las propiedades de una distribución normal

    409
0   400
1   406
2   399
3   402
4   406
..  ...
94  406
95  398
96  406
97  403
98  404

[99 rows x 1 columns]

In [ ]:
# analiza si es tiene las propiedades de una distribución normal tras eliminar los 3 outliers

In [ ]:
# analiza si es razonable pensar que la media es de 400kg tras eliminar los outliers