# Ejercicios de codificación

## Ejercicio 0: organizar carpetas

In [15]:
import os 
import shutil
# Crear carperta pearson
# Crear carpeta input en pearson
# Crear carpeta output en pearson
# Crear carpeta src en pearson
# Mover Pearson.txt a input
# Crear un pearson.ipynb en src
# Abrir en modo append un archivo en output
# Abrir pearson.txt y cambiar nombres columnas
os.makedirs("pearson", exist_ok=True)

In [10]:
for f in ["input", "output", "src"]:
    os.makedirs(f"pearson/{f}", exist_ok=True)

In [13]:
shutil.move("Pearson.txt", "pearson/input")

'pearson/input\\Pearson.txt'

In [32]:
file = open("pearson/output/resultados.txt", "a")

## Ejercicio 1: Genera los datos ejecutando esta celda
Esto te dará una lista de números con los que trabajar en los ejercicios restantes.

In [37]:
# Usar Pearson.txt
import pandas as pd
pearson =  pd.read_csv("pearson/input/Pearson.txt", sep="\t")

In [39]:
pearson.columns = [x.lower() for x in pearson.columns]

## Ejercicio 2: Cálculo de estadísticas y verificación
### media

In [51]:
pearson.mean()

father    67.686827
son       68.684230
dtype: float64

In [49]:
padres = pearson["father"].values
padres
contador = 0
for p in padres:
    contador += p 
media = contador/len(padres)

In [50]:
media

67.68682745825602

In [46]:
padres = pearson["father"]
padres

0       65.0
1       63.3
2       65.0
3       65.8
4       61.1
        ...
1073    67.0
1074    71.3
1075    71.8
1076    70.7
1077    70.3
Name: father, Length: 1078, dtype: float64

In [61]:
padres = pearson[["father"]]
padres
contador = 0
for index, p in padres.iterrows():
    #print(index, p,p["father"])
    # index = indice
    # p = fila 
    # p["father"] el valor en la fila index de la columna father
    contador += p["father"]
media = contador/len(padres)

In [62]:
media

67.68682745825602

### mediana

In [63]:
pearson.median()

father    67.8
son       68.6
dtype: float64

In [68]:
len(pearson)

1078

In [101]:
pearson.sort_values("son", inplace=True)

In [74]:
pearson.sort_values(["son", "father"])

      father   son
422     64.0  58.5
1069    63.2  58.8
0       65.0  59.8
1072    67.7  59.8
1066    65.5  60.1
...      ...   ...
418     68.3  77.2
1065    69.9  77.2
203     72.8  77.2
634     70.1  78.2
850     69.1  78.4

[1078 rows x 2 columns]

In [102]:
hijos = pearson[["son"]].reset_index(drop=True)

In [104]:
(hijos.iloc[int(len(hijos)/2)]+hijos.iloc[int(len(hijos)/2)-1])/2

son    68.6
dtype: float64

In [95]:
# división entera
len(hijos)//2

539

In [96]:
# división decimal y convertir en entero
int(len(hijos)/2)

539

### moda

In [105]:
pearson.mode()

   father   son
0    67.4  68.6
1    67.8   NaN
2    68.3   NaN

In [107]:
pearson["son"].value_counts()

son
68.6    26
68.1    21
68.2    21
67.2    20
66.3    20
        ..
62.7     1
63.0     1
63.1     1
64.5     1
78.4     1
Name: count, Length: 146, dtype: int64

In [108]:
pearson["father"].value_counts()

father
67.8    19
67.4    19
68.3    19
66.0    18
69.3    18
        ..
60.2     1
62.2     1
61.3     1
60.0     1
73.5     1
Name: count, Length: 136, dtype: int64

### varianza de la muestra
Recuerde utilizar la corrección de Bessel.

In [116]:
## Entre N
pearson.var(ddof=0)

father    7.532572
son       7.923592
dtype: float64

In [117]:
# Entre N-1
pearson.var(ddof=1)

father    7.539566
son       7.930949
dtype: float64

In [118]:
# Entre N-1
pearson.var()

father    7.539566
son       7.930949
dtype: float64

### desviación típica de la muestra
Recuerde utilizar la corrección de Bessel.

In [121]:
pearson.std()

father    2.745827
son       2.816194
dtype: float64

In [129]:
std_mas_1 = pearson["father"].mean() + pearson["father"].std()
std_menos_1 = pearson["father"].mean() - pearson["father"].std()
len(pearson[(pearson["father"]<=std_mas_1) & ((pearson["father"]>=std_menos_1))])/len(pearson)

0.6753246753246753

In [130]:
std_mas_2 = pearson["father"].mean() + 2*pearson["father"].std()
std_menos_2 = pearson["father"].mean() - 2*pearson["father"].std()
len(pearson[(pearson["father"]<=std_mas_2) & ((pearson["father"]>=std_menos_2))])/len(pearson)

0.9628942486085343

## Ejercicio 3: Calcular más estadísticas
### rango

In [132]:
pearson.max() - pearson.min()

father    16.4
son       19.9
dtype: float64

### coeficiente de variación
Asegúrese de utilizar la desviación típica de la muestra.

In [133]:
pearson.std()/pearson.mean()

father    0.040567
son       0.041002
dtype: float64

### rango intercuartílico

In [135]:
pearson.quantile(0.75) - pearson.quantile(0.25)

father    3.8
son       3.6
dtype: float64

In [136]:
pearson.quantile(0.75)

father    69.6
son       70.5
Name: 0.75, dtype: float64

In [138]:
pearson.quantile(0.9)

father    71.30
son       72.23
Name: 0.9, dtype: float64

In [139]:
pearson.describe()

            father          son
count  1078.000000  1078.000000
mean     67.686827    68.684230
std       2.745827     2.816194
min      59.000000    58.500000
25%      65.800000    66.900000
50%      67.800000    68.600000
75%      69.600000    70.500000
max      75.400000    78.400000

### coeficiente de dispersión por cuartiles

In [140]:
cdq = (pearson.quantile(0.75)-pearson.quantile(0.25))/(pearson.quantile(0.75)+pearson.quantile(0.25))

In [141]:
cdq

father    0.028065
son       0.026201
dtype: float64

## Ejercicio 4: Escalado de datos
### escalado min-max

In [142]:
pearson_min_max = (pearson - pearson.min())/(pearson.max()-pearson.min())

In [144]:
pearson_min_max.describe()

            father          son
count  1078.000000  1078.000000
mean      0.529685     0.511770
std       0.167428     0.141517
min       0.000000     0.000000
25%       0.414634     0.422111
50%       0.536585     0.507538
75%       0.646341     0.603015
max       1.000000     1.000000

### normalización

In [145]:
from sklearn import preprocessing
std_scale = preprocessing.StandardScaler().fit(pearson)
pearson_std = std_scale.transform(pearson)

In [149]:
pd.DataFrame(pearson_std).describe()

                  0             1
count  1.078000e+03  1.078000e+03
mean   3.849322e-15 -1.370992e-15
std    1.000464e+00  1.000464e+00
min   -3.165115e+00 -3.617988e+00
25%   -6.874807e-01 -6.338548e-01
50%    4.123532e-02 -2.992306e-02
75%    6.970798e-01  6.450595e-01
max    2.810356e+00  3.451566e+00

## Ejercicio 5: Cálculo de covarianza y correlación
### covarianza

In [150]:
pearson.cov()

          father       son
father  7.539566  3.875382
son     3.875382  7.930949

### Coeficiente de correlación de Pearson ($\rho$)

In [151]:
pearson.corr()

          father       son
father  1.000000  0.501163
son     0.501163  1.000000

In [152]:
pearson_min_max.corr()

          father       son
father  1.000000  0.501163
son     0.501163  1.000000

In [153]:
pd.DataFrame(pearson_std).corr()

          0         1
0  1.000000  0.501163
1  0.501163  1.000000

In [155]:
(pearson*2.5451).corr()

          father       son
father  1.000000  0.501163
son     0.501163  1.000000

In [158]:
pearson["father2"] = pearson["father"]*2.5451

In [159]:
pearson.corr()

           father       son   father2
father   1.000000  0.501163  1.000000
son      0.501163  1.000000  0.501163
father2  1.000000  0.501163  1.000000

In [161]:
# Confort término Gabriela y Jonatan
gab = [10, 9, 10, 8.5, 7, 8, 6.5, 5, 4, 3]
jon = [9, 9, 9, 8, 7.5, 8, 6, 4, 4, 2]

In [162]:
jg = pd.DataFrame()
jg["gab"] = gab
jg["jon"] = jon

In [164]:
jg.corr()

          gab       jon
gab  1.000000  0.975815
jon  0.975815  1.000000

In [168]:
# Piratas y Temperatura del Planeta
espurea = pd.read_csv("pirates-vs-global-warming.csv")

In [169]:
espurea.corr()

,Year,global-average-temperature,number-of-pirates
Year,1.000000,0.978386,-0.966973
global-average-temperature,0.978386,1.000000,-0.941094
number-of-pirates,-0.966973,-0.941094,1.000000

<hr>
<div style="overflow: hidden; margin-bottom: 10px;">
    <div style="float: left;">
        <a href="./python_101.ipynb">
            <button>Python 101</button>
        </a>
    </div>
    <div style="float: right;">
        <a href="../solutions/ch_01/solutions.ipynb">
            <button>Soluciones</button>
        </a>
        <a href="../ch_02/1-pandas_data_structures.ipynb">
            <button>Capítulo 2 &#8594;</button>
        </a>
    </div>
</div>
<hr>